/* .inventories{

} */
.inventory-title{
    font-size: 42px;
}
.items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* responsiveness for  mobile device */
@media only screen and (max-width : 576px) {
    .items-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
